<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdnu.study.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.sdnu.study.activity"></instrumentation>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:name="com.sdnu.study.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <uses-library android:name="android.test.runner"/>
        <activity
            android:name="com.sdnu.study.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sdnu.study.activity.AcyPinyin">
        </activity>
        <activity android:name="com.sdnu.study.activity.AcyPinyinItem">
        </activity>
        <activity android:name="com.sdnu.study.activity.AcyLogin">
        </activity>
        <activity android:name="com.sdnu.study.activity.AcyPinyinGame">
        </activity>
        <activity android:name="com.sdnu.study.activity.AcyShortDlg">
        </activity>
        <activity android:name="com.sdnu.study.activity.AcyChujiMain">
        </activity>
    </application>

</manifest>
